@import "../../assets/helpers/mixins.scss";

.wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 24px;
}

.option {
  @include caption(700);
  border: 0;
  width: 24px;
  height: 24px;
  border-top: 1px solid $gray2;
  border-bottom: 1px solid $gray2;
  border-collapse: collapse;
  border-left: 1px solid $gray2;
  background-color: #fff;
  color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-child {
    border-right: 1px solid $gray2;
  }
  &:focus {
    position: relative;
    z-index: 1;
  }
  &:disabled {
    background-color: rgba($gray2, 0.1);
  }
}

.option:nth-child(1),
.option:nth-child(2) {
  font-size: 0;
  svg path {
    transform: translateY(1px);
  }
}

.option:nth-last-child(1),
.option:nth-last-child(2) {
  font-size: 0;
  svg {
    transform: rotate(180deg);
  }
}

.option:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.option:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.active {
  background-color: $blue;
  color: #fff;
}
