@import "../../../assets/helpers/mixins";
.wrap {
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.title {
  @include h6();
  padding: 0 10px;
  text-align: center;
}

.text {
  margin-top: 12px;
  @include bodyText();
}

.error {
  @include caption();
  margin-top: 16px;
  padding: 2px 0;
  color: $red;
}
