@import "../../assets/helpers/mixins.scss";

.dropdown {
  height: 24px;
  display: block;
  position: relative;
  display: flex;
  align-items: center;
}

.label {
  margin-right: 4px;
  color: $gray3;
  @include caption(600);
}

.trigger {
  @include caption(600);
  height: 100%;
  padding: 0 0 0 4px;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $dark;
  border: 0;
  transition: color $speed;
  background-color: transparent;
  z-index: 4;
  border: 1px solid transparent;
  outline: none;
  color: $blue;
  border-radius: 4px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:active {
    color: rgba($dark, 0.7);
    path {
      stroke: gba($gray1, 0.7);
    }
  }

  &:focus-visible {
    border: 1px solid #93a9bc;
  }
}

.text {
  pointer-events: none;
  padding-right: 8px;
}

.icon {
  margin: 1px 0 -1px 0;
}
