@import "../../assets/helpers/mixins.scss";

.inactive {
  span {
    @include captionSm();
    padding-right: 3px;
  }
  img {
    width: 10px;
    height: 10px;
    vertical-align: middle;
    filter: invert(0.5);
  }
}