@import "../../../../assets/helpers/mixins";

.cosignatoriesFilter {
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.filterIcon {
  margin-right: 32px;
}

.filterInputs {
  margin-right: 8px;
  display: flex;
}

.inputWrap {  
  width: 204px;
  margin-right: 8px;
}

.input {
  height: 36px;
  width: 204px;
}

.dropdown {
  width: 145px;
  margin-right: 8px;
  > div:first-child {
    height: 36px;
  }
}

.date {
  display: inline-flex;
  width: 251px;
  margin-right: 8px;
}

.filterButtons {
  display: flex;
  margin-top: 12px;
}

.button {
  height: 36px;
  text-transform: initial;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
