@import "../../assets/helpers/mixins";

.root {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 24px;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.resolution {
  color: inherit;
  &:focus-visible {
    @include focus(0, $dark);
  }
}
