@import "../helpers/variables.scss";

html {
  font-family: sans-serif;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow-anchor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $primary-font;
  color: $dark;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background-color: transparent;
  text-decoration: none;
}

a {
  &:active,
  &:hover {
    outline: 0;
  }
}

img {
  border: 0;
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

button {
  font-family: inherit;
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

textarea {
  overflow: auto;
}
