@import "../../../assets/helpers/mixins";

.inputRow {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.inputRow {
  display: flex;
  justify-content: space-between;
}

.halfWidth {
  max-width: calc((100% - 24px) / 2);
}

.oneThirdWidth {
  max-width: calc((100% - 48px) / 3);
}

.checkboxRow {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.tip {
  position: relative;
  margin-left: 4px;
  cursor: pointer;
  margin-right: auto;
  &:hover {
    .checkboxText {
      display: block;
    }
  }
}

.disabled {
  pointer-events: none;
  background: rgba(147, 169, 188, 0.2);
  border: 1px solid rgba(147, 169, 188, 0.5);
  color: rgba(29, 43, 70, 0.7);
}

.title {
  @include overline();
  display: block;
  color: $gray3;
  margin-bottom: 12px;
}

.additional {
  background-color: $gray1;
  padding: 12px 16px;
}

.btn {
  @include bodyText();
  &:hover {
    background-color: transparent;
  }
  & + & {
    margin-left: 28px;
  }
}

.hidden {
  display: none;
}

.checkboxText {
  display: none;
  position: absolute;
  top: 4px;
  left: 18px;
  width: 600px;
  @include caption();
  background-color: #fff;
  color: $gray3;
  padding: 4px;
  border-radius: 4px;
  z-index: 1;
  border: 1px solid rgba(147, 169, 188, 0.5);
}

.buttonsRow {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
}

.button {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.formErrors {
  margin-top: 8px;
}

.formError {
  @include caption();
  padding: 2px 0;
  color: $red;
}

.formErrorField {
  text-transform: capitalize;
}
