@import "../../assets/helpers/mixins";

.wrap {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  @include bodyText();
  display: inline-block;
  margin-bottom: 12px;
  color: $gray3;
}
