@import "../../../assets/helpers/mixins";
.wrap {
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  button {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
.title {
  @include h6();
}

.text {
  margin-top: 12px;
  @include bodyText();
}
