@import "./variables";
@import "./typography";
@import "./grid";
@import "./ui";

@mixin min-vw($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin max-vw($breakpoint) {
  @media (max-width: $breakpoint - 1px) {
    @content;
  }
}

@mixin min-vh($breakpoint) {
  @media (min-height: $breakpoint) {
    @content;
  }
}

@mixin max-vh($breakpoint) {
  @media (max-height: $breakpoint) {
    @content;
  }
}
