@mixin h1($font-weight: 700) {
  font-size: 64px;
  line-height: 77px;
  font-weight: $font-weight;
  letter-spacing: -1.5px;
}

@mixin h2($font-weight: 400) {
  font-size: 60px;
  line-height: 73px;
  font-weight: $font-weight;
}

@mixin h3($font-weight: 400) {
  font-size: 36px;
  line-height: 46px;
  font-weight: $font-weight;
}

@mixin h4($font-weight: 600) {
  font-size: 34px;
  line-height: 41px;
  font-weight: $font-weight;
  letter-spacing: 0.25px;
}

@mixin h5($font-weight: 700) {
  font-size: 24px;
  line-height: 29px;
  font-weight: $font-weight;
}

@mixin h6($font-weight: 600) {
  font-size: 20px;
  line-height: 28px;
  font-weight: $font-weight;
  letter-spacing: 0.15px;
}

@mixin bodyText($font-weight: 400) {
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight;
}

@mixin bodyTextSm($font-weight: 400) {
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-weight;
}

@mixin subtitle($font-weight: 700) {
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-weight;
}

@mixin subtitleSm($font-weight: 400) {
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-weight;
}

@mixin buttonText($font-weight: 600) {
  font-size: 14px;
  line-height: 17px;
  font-weight: $font-weight;
  font-family: $primary-font;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

@mixin caption($font-weight: 400) {
  font-size: 12px;
  line-height: 16px;
  font-weight: $font-weight;
}

@mixin captionSm($font-weight: 500) {
  font-size: 10px;
  line-height: 12px;
  font-weight: $font-weight;
}

@mixin overline($font-weight: 600) {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  font-weight: $font-weight;
  text-transform: uppercase;
}
