@mixin focus($radius: 0px, $color: $light-blue, $indent: 4px) {
  position: relative;
  outline: none;
  &:after {
    position: absolute;
    top: -$indent;
    bottom: -$indent;
    left: -$indent;
    right: -$indent;
    border: 1px solid $color;
    border-style: dashed;
    border-radius: $radius;
    z-index: 1;
  }
  &:focus:not([tabindex="-1"]):not(:active) {
    &:after {
      content: "";
      display: block;
    }
  }
}

@mixin icon() {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0);

  img {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
}

@mixin placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin iconButton() {
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  transition: background-color $speed;
  outline: none;
  &:hover {
    background-color: rgba(147, 169, 188, 0.2);
  }
  &:focus-visible {
    @include focus(4px, $dark);
  }
  img,
  svg {
    vertical-align: bottom;
  }
}

@mixin button() {
  @include buttonText();
  position: relative;
  display: flex;
  align-items: center;
  height: 33px;
  padding: 0 16px;
  border-radius: 8px;
  border: 0;
  transition: background-color $speed;
  > span {
    white-space: nowrap;
    transition: opacity $speed;
  }
  &:disabled {
    opacity: 0.7;
    box-shadow: none;
    pointer-events: none;
  }
  &:focus {
    outline: none;
  }
}

@mixin buttonDark() {
  color: #fff;
  background-color: $blue;
  &:hover {
    background-color: rgba(17, 48, 131, 0.9);
  }
  &:focus-visible {
    @include focus(8px, $blue, 2px);
  }
  &:active {
    background-color: rgba(17, 48, 131, 0.9);
    > span {
      opacity: 0.7;
    }
  }
}

@mixin buttonRed() {
  color: $red;
  background-color: rgba(255, 93, 56, 0.05);
  &:hover:not(:active) {
    background-color: rgba(255, 93, 56, 0.1);
  }
  &:focus-visible {
    @include focus(8px, $red, 2px);
  }
  &:active {
    background-color: rgba(255, 93, 56, 0.05);
    > span {
      opacity: 0.7;
    }
  }
}

@mixin buttonWhite() {
  background-color: #fff;
  color: $blue;
  &:hover:not(:active) {
    background-color: rgba(17, 48, 131, 0.05);
  }
  &:focus-visible {
    @include focus(8px, $blue, 2px);
  }
  &:active {
    > span {
      opacity: 0.7;
    }
  }
}

@mixin buttonGray() {
  background-color: rgba(17, 48, 131, 0.05);
  color: $blue;
  &:hover:not(:active) {
    background-color: rgba(17, 48, 131, 0.1);
  }
  &:focus-visible {
    @include focus(8px, $dark, 2px);
  }
  &:active {
    background: rgba(17, 48, 131, 0.05);
    > span {
      opacity: 0.7;
    }
  }
}

@mixin buttonLink() {
  color: $blue;
  text-transform: capitalize;
  font-weight: 400;
  &:hover:not(:active) {
    color: $dark;
  }
  &:focus-visible {
    @include focus(8px, $dark, 2px);
  }
  &:active {
    background: rgba(17, 48, 131, 0.05);
    > span {
      opacity: 0.7;
    }
  }
}

@mixin buttonOrange() {
  background-color: $orange;
  color: #fff;
  box-shadow: 0px 4px 8px rgba(255, 163, 0, 0.24);
  &:hover:not(:active) {
    background-color: rgba($orange, 0.9);
  }
  &:focus-visible {
    @include focus(8px, $orange, 2px);
  }
  &:active {
    background: rgba($orange, 0.8);
    box-shadow: none;
    > span {
      opacity: 0.7;
    }
  }
}

@mixin link() {
  @include bodyText(500);
  color: $blue;
  outline: none;
  transition: color $speed;
  &:focus-visible {
    @include focus(0, $blue, 2px);
  }
  &:hover:not(:active) {
    color: lighten($blue, 10);
  }
  &:active {
    opacity: 0.8;
  }
}

@mixin dashboardWrap() {
  position: relative;
  z-index: 1;
  background-color: $gray1;
  height: calc(100vh - #{$header-height});
  overflow: auto;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

@mixin primaryInput() {
  @include bodyTextSm();
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-family: $primary-font;
  border: 1px solid rgba(147, 169, 188, 0.5);
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
  background-repeat: no-repeat;

  @include placeholder() {
    color: rgba($dark, 0.5);
  }
  &:focus {
    border: 1px solid #93a9bc;
  }
  &:disabled,
  &:read-only {
    background: rgba(147, 169, 188, 0.2);
    border: 1px solid rgba(147, 169, 188, 0.5);
    color: rgba($dark, 0.7);
  }
  &:read-only {
    background: rgba(147, 169, 188, 0.2);
    border: 1px solid rgba(147, 169, 188, 0.5);
    color: rgba($dark, 0.7);
  }
}

@mixin cutText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin inputLabel {
  @include bodyText();
  color: $gray3;
  display: block;
  margin-bottom: 4px;
}

@mixin activityOn() {
  position: absolute;
  right: 0;
  height: calc(100vh - 64px);
  z-index: 9;
  display: flex;
  justify-content: flex-end;
}

@mixin absoluteStretch($space: 0) {
  position: absolute;
  top: #{$space}px;
  right: #{$space}px;
  bottom: #{$space}px;
  left: #{$space}px;
} ;
