@import "../../../../assets/helpers/mixins";

.wrap {
  position: relative;
  z-index: 10000;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  margin-bottom: 16px;
}

.title {
  @include h6();
  text-align: center;
  margin-bottom: 12px;
}

.button {
  min-width: 118px;
  justify-content: center;
  margin-top: 28px;
}
