@import "../../../assets/helpers/mixins";

.cosignatoriesFilter {
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.filterIcon {
  margin-right: 32px;
}

.filterInputs {
  margin-right: 8px;
  display: flex;
}

.inputWrap {
  width: 247px;
  margin-right: 8px;
}

.input {
  height: 36px;
}

.dropdown {
  width: 313px;
  margin-right: 8px;
  > div:first-child {
    height: 36px;
  }
}

.filterButtons {
  display: flex;
}

.button {
  height: 36px;
  text-transform: initial;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
