@import "../../assets/helpers/mixins";

.resolution {
  width: 100%;
  height: 100%;
  padding: 12px 16px;
  background-color: #fff;
  box-shadow: $shadow-small;
  transition: box-shadow $speed;
  border-radius: 4px;
  &:hover {
    box-shadow: $shadow-middle;
  }
  &:focus-visible {
    @include focus(0, $dark);
  }
}

.voted {
  background-color: rgba($green, 0.1);
}

.topLine {
  @include overline();
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $gray3;
  margin-bottom: 20px;
}

.name {
  @include subtitleSm(700);
  @include cutText();
  max-width: 210px;
  margin-bottom: 4px;
}

.creationInfo {
  @include captionSm();
  min-height: 12px;
  display: flex;
  align-items: center;
}

.creationInfoDivider {
  &:not(:last-child):not(:first-child) {
    margin: 0 4px;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: $gray2;
    border-radius: 50%;
    transform: translateY(1px);
  }
}

.progressWrap {
  margin-top: 36px;
  margin-bottom: 16px;
}

.progressBar {
  position: relative;
  height: 4px;
  border-radius: 4px;
  background-color: rgba($gray2, 0.4);
}

.progressCompleted {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: $orange;
}

.progressDates {
  @include captionSm(700);
  line-height: 14px;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.bottomLine {
  min-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resolutionId {
  @include overline();
}
