@import "../../../assets/helpers/mixins";

$buttonWidth: 180px;

.wrapper {
  color: $dark;
  padding: 32px 40px 36px;
  background-color: $gray1;
  border-bottom: 4px solid $orange;
  border-radius: 4px;
  box-shadow: 0px 0px 64px rgba(17, 36, 88, 0.38);
}

.topLine {
  margin-bottom: 16px;
}

.title {
  @include h6();
}

.button {
  height: 40px;
  width: $buttonWidth;
  justify-content: center;
}

.inputsWrap {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.input {
  position: relative;
  width: calc((100% - 24px - #{$buttonWidth}) / 2);
}

.error {
  @include bodyText();
  margin: 8px 0;
  color: $red;
}

.forgotPasswordLink {
  @include link();
  @include captionSm();
  position: absolute;
  bottom: 48px;
  right: 0;
  &:focus-visible {
    position: absolute;
  }
}
