@import "../../../assets/helpers/mixins.scss";

.wrap {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(120, 128, 144, 0.16);
  border-radius: 4px;
  padding: 16px 24px;
  margin-bottom: 24px;
}

.fieldsTitle {
  @include subtitle();
  margin-bottom: 16px;
}

.fields {
  display: grid;
  grid-template-columns: minmax(min-content, 200px) auto;
  grid-column-gap: 16px;
  grid-row-gap: 24px;
  max-width: 690px;
  align-items: center;
  & + .fieldsTitle {
    margin-top: 56px;
  }
}

.label {
  margin-bottom: auto;
  align-items: center;
  height: 40px;
  display: flex;
  @include subtitleSm();
  color: $gray3;
}

.error {
  margin-top: 8px;
  @include caption();
  padding: 2px 0;
  color: $red;
}

.panel {
  margin-top: 32px;
  display: flex;
  justify-content: flex-end;
  max-width: 690px;
  margin-bottom: 8px;
  button {
    &:nth-child(1) {
      margin-left: auto;
    }
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.subgroup {
  margin-top: 24px;
}

.field {
  display: flex;
  align-items: center;
}

.field + .field {
  margin-top: 16px;
}

.separator {
  height: 1px;
  background-color: rgba($gray2, 0.4);
  margin-top: 32px;
  margin-bottom: 10px;
}
