@import "../../assets/helpers/mixins.scss";

.searchWrap {
  padding: 4px 4px 4px 8px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: #f1f3f4;
  border-radius: 8px;
}

.searchInput {
  @include caption(500);
  padding: 0 4px;
  height: 100%;
  width: calc(100%);
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  transition: border $speed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include placeholder() {
    @include caption(500);
    color: rgba($dark, 0.5);
  }
}

.searchButton {
  @include iconButton();
}
