@import "../../../assets/helpers/mixins";

.wrap {
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include subtitle(400);
  text-align: center;
  margin-bottom: 12px;
}

.button {
  min-width: 118px;
  justify-content: center;
  margin-top: 28px;
}
