@import "../../../assets/helpers/mixins.scss";

.title {
  @include h5();
  margin-left: 16px;
}

.wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.back {
  @include iconButton();
}

.link {
  @include subtitleSm();
  display: inline-flex;
  margin-left: auto;
}

.btn {
  margin-left: auto;
}
