@import "../../../assets/helpers/mixins";

.wrapper {
  padding: 16px 24px;
  margin-top: 12px;
  background-color: #fff;
  box-shadow: $shadow-big;
}

.wrap{
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include subtitle();
}
