@import "../../../assets/helpers/mixins";

.filter {
  padding: 24px 0;
}

.filterIcon {
  margin-right: 32px;
}

.filterInputs {
  margin-right: 8px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.dateWrap {
  max-width: 160px;
  margin-right: 8px;
}

.inputWrap {
  width: 204px;
  margin-right: 8px;
}

.input {
  height: 36px;
  width: 204px;
}

.searchDropdown {
  width: 264px;
  margin-right: 8px;
  > div:first-child {
    height: 36px;
  }
}

.dropdown {
  width: 180px;
  margin-right: 8px;
  > div:first-child {
    height: 36px;
  }
}

.filterButtons {
  display: flex;
  margin-top: 12px;
}

.button {
  height: 36px;
  text-transform: initial;
  letter-spacing: 0;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.switcher {
  margin-left: auto;
}

.checkbox {
  margin-left: 8px;
}

.date {
  display: inline-flex;
  width: 251px;
  margin-right: 8px;
}

.wrap {
  display: flex;
  align-items: center;
}
