@import "../../assets/helpers/mixins";

.avatarWrap {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 228px;
  background-color: $gray2;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .inactive {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #1D2B46, $alpha: 0.6);
    background-image: url("../../../public/images/icons/voting-abstain.svg");
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    &::after{
      content: "Account is inactive";
      display: block;
      position: absolute;
      left: 20%;
      top: 65%;
      @include bodyText();
      color: #fff;
    }
  }
}

.initials {
  @include h2();
  color: #fff;
}
