@import "../../assets/helpers/mixins";

.overlay {
  position: fixed;
  z-index: 1001;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark, 0.4);
  outline: none;
  overflow: auto;
  &.isPrimary {
    padding: 80px 0;
  }
}

.wrap {
  padding: 32px 40px;
  position: relative;
  width: 100%;
  margin: auto auto;
  max-width: 856px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: $shadow-big;
  border-bottom: 11px solid $orange;
  outline: none;
  cursor: default;
}

.closeButton {
  @include iconButton();
  position: absolute;
  top: 12px;
  right: 12px;
  &:focus-visible {
    position: absolute;
  }
}

.title {
  @include h5();
  margin-bottom: 20px;
}
