@import "../../../assets/helpers/mixins";

.remove {
  @include iconButton();
  position: absolute;
  right: 8px;
  bottom: 8px;
  img {
    width: 24px;
  }
}

.logo {
  max-height: 120px;
}

.wrap {
  width: 100%;
  height: 132px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $gray3;
}
