@import "../../../src/assets/helpers/mixins";

.root {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  outline: none;
  background-color: rgba(120, 128, 144, 0.3);
}
