@import "../../../assets/helpers/mixins";

.wrap {
  width: 100%;
  position: relative;
  &.error {
    input {
      border: 1px solid $red;
      background-image: url("../../../../public/images/icons/error.svg");
    }
  }
}

.label {
  @include inputLabel();
}

.inputError {
  @include caption();
  position: absolute;
  top: 100%;
  right: 0;
  color: $red;
}

.datepicker {
  & > div input {
    cursor: pointer;
    width: 40px;
    padding: 0;
    height: 36px;
    background-position: center;
    border-radius: 0 5px 5px 0;
    border-left: none;
    font-size: 0;
  }
}

.dropdown {
  & > div:first-child {
    @include bodyTextSm();
    color: $dark;
    height: 36px;
    border-radius: 5px 0 0 5px;
    width: 211px;
    padding: 6px 12px;
    span {
      padding-right: 0;
      max-width: 100%;
    }
  }
}
