@import "../../../..//assets/helpers/mixins";

.row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 120px;
  transition: background-color $speed;
  color: $dark;
  & > div {
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
  }
  &:hover {
    background-color: rgba($gray2, 0.2);
  }
}

.typeIcon {
  max-width: 24px;
  max-height: 20px;
  margin-right: 8px;
}

.cell {
  display: flex;
  align-items: center;
}

.file {
  font-weight: 600;
}

.date {
  @include caption();
  color: $gray3;
}

.cellLast {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  display: flex;
}

.btn {
  border: 0;
  opacity: 0.7;
  background-color: transparent;
  transition: opacity $speed;
  outline: none;
  &:hover {
    opacity: 1;
  }
  &:focus-visible{
    @include focus(2px,$dark,4px);
  }
  &:not(:last-child) {
    margin-right: 16px;
  }
  &:disabled{
    opacity: .5;
  }
}
