@import "../../assets/helpers/mixins";

.wrap {
  width: 100%;
  height: 132px;
  padding: 8px;
  background-color: $gray1;
  position: relative;
}

.container {
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed $gray3;
  background-color: transparent;
  transition: background-color $speed;
  outline: none;
  &:focus-visible {
    border: 1px solid $blue;
  }

  &.drag {
    background-color: darken($gray1, 5%);
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.message {
  @include bodyTextSm();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $gray3;
  .bold {
    @include subtitleSm(700);
  }
  img,
  div,
  input {
    pointer-events: none;
  }
}

.errorMessage {
  @include bodyTextSm();
  color: $red;
}

.input {
  display: none;
}
.loading {
  @include caption();
  color: $gray3;
}
.error {
  @include caption();
  position: absolute;
  top: 100%;
  right: 0;
  color: $red;
}
