@import "../../../assets/helpers/mixins.scss";

.wrap {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.regWrap {
  color: $gray3;
  @include caption();
}

.date {
  margin-left: 4px;
  font-weight: 700;
}
