@import "../../../assets/helpers/mixins.scss";

.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hint {
  @include caption(600);
  margin-right: 8px;
  color: $gray3;
}
