@import "../../../assets/helpers/mixins.scss";

.root {
  margin-top: 42px;
}

.navItem {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &:before {
    left: 0;
    width: 2px;
    transition: background-color $speed;
    background-color: transparent;
    content: "";
    position: absolute;
    height: 38px;
  }
}

.navText {
  @include subtitleSm(700);
  margin-left: 12px;
  color: rgba(#fff, 0.5);
  transition: color $speed;
}

.active {
  &.navItem {
    &:before {
      background-color: $purple-light;
    }
  }
  .icon {
    opacity: 1;
  }
  .navText {
    color: rgba(#fff, 1);
  }
}

.icon {
  transition: opacity $speed;
  opacity: 0.5;
  img {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
}

@include max-vw($xl) {
  .navText {
    display: none;
  }
  .navItem {
    padding-left: 16px;
    padding-right: 16px;
  }
  .on {
    .navText {
      display: flex;
    }
  }
}
