@import "../../../src/assets/helpers/mixins";

.wrap {
  display: flex;
  align-items: center;
}

.avatars {
  display: flex;
}

.avatar {
  position: relative;
  &:first-child {
    z-index: 2;
  }
  &:nth-child(2) {
    z-index: 1;
  }
  &:not(:last-child) {
    margin-right: -8px;
  }
}

.rest {
  margin-left: 4px;
  @include captionSm(700);
  color: $gray3;
}
