@import "../../../../assets/helpers/mixins";

.wrapper {
  @include caption();
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  padding-bottom: 4px;
  color: $gray3;
}

@include oddEvenChild('.cell');

.cell {
  &:not(:last-child) {
    padding-right: 8px;
  }
}
