@import "../../assets/helpers/mixins";

.wrapper {
  padding: 120px 30px;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.decor {
  position: absolute;
  z-index: 1;
  bottom: -80px;
  right: -150px;
  width: 588px;
  height: 580px;
}

.inner {
  max-width: 920px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  z-index: 2;
  color: #fff;
}

.innerHead {
  padding: 0 40px;
}

.logo {
  margin-bottom: 130px;
  width: 189px;
  height: 40px;
}

.welcome {
  margin-bottom: 130px;
}

.title {
  @include h4();
  margin-bottom: 20px;
}

.text {
  @include h4(400);
}
