@import "../../assets/helpers/mixins";

.wrap {
  display: flex;
}

.activityWrap {
  min-width: 354px;
}

.emptyFilter {
  height: calc(
    100vh - #{$header-height} - #{$switcher-height} - #{$filter-height} - (#{$dashboard-vertical-padding} *
          2)
  );
}

.activity {
  @include activityOn();
}
