@import "../../assets/helpers/mixins.scss";

.wrap {
  position: relative;
  z-index: 5;
  height: $header-height;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 2px rgba(120, 128, 144, 0.16);
}

.back {
  font-size: 0;
  border: 0;
  background-color: transparent;
  & + .title {
    margin-left: 16px;
  }
  img {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
}
