@import "../../assets/helpers/mixins.scss";

@mixin size($sz) {
  width: $sz;
  height: $sz;
  min-height: $sz;
  min-width: $sz;
}

.avatar {
  margin-right: 6px;
  min-width: 24px;
  width: 24px;
  height: 24px;
  min-height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: border $speed;

  &.onHover{
    z-index: 2;
    .avatarIcon,
    .avatarEmpty{
      transform: scale(1.1);
    }
  }
}

.sm {
  @include size(20px);
}

.md {
  @include size(24px);
}

.lg {
  @include size(32px);
}

.avatarIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.avatarEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  background-color: $gray2;
  color: #fff;
  border-radius: 50%;
}

.avatarVotingMark {
  position: absolute;
  top: -2px;
  left: calc(100% - 8px);
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 50%;
  &.for {
    background-color: $green;
  }
  &.against {
    background-color: $red;
  }
  &.abstain {
    background-color: $gray3;
  }
}

.avatarVotingTime {
  position: absolute;
  top: -6px;
  left: calc(100% - 6px);
  display: flex;
  align-items: centerw;
  padding: 2px 4px;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  white-space: nowrap;
  color: #fff;
  border-radius: 100px;
  border: 1px solid #fff;
  &.for {
    background-color: $green;
  }
  &.against {
    background-color: $red;
  }
  &.abstain {
    background-color: $gray3;
  }
}

.votingIcon {
  margin-right: 4px;
}
