@import "../../assets/helpers/mixins";

.filter {
  display: flex;
  align-items: center;
}

.filterIcon {
  margin-right: 32px;
}

.filterInputs {
  margin-right: 8px;
  display: flex;
}

.dateWrap {
  max-width: 214px;
  margin-right: 8px;
}

.inputWrap {
  width: 209px;
  margin-right: 8px;
}

.input {
  height: 36px;
}

.filterButtons {
  display: flex;
}

.button {
  height: 36px;
  text-transform: initial;
  letter-spacing: 0;
  &:not(:last-child) {
    margin-right: 8px;
  }
}
