@import "../../../assets/helpers/mixins.scss";

.list {
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 100%;
  min-width: 212px;
  border: 1px solid rgba(147, 169, 188, 0.5);
  padding: 0 4px 4px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  box-shadow: $shadow-middle;
  border-radius: 4px;
  margin-top: 8px;
  max-height: 250px;
  overflow: auto;
}

.withDivide {
  max-height: 250px;
  overflow-x: auto;
}

.attached {
  border-top: none;
  margin-top: 0;
  border-radius: 0px 0px 4px 4px;
}

.noResult {
  @include bodyTextSm();
  color: $gray3;
  padding: 25px 0;
  text-align: center;
  word-break: break-all;
}

.floated-right {
  right: 0;
}
.floated-left {
  right: auto;
}
.fluid {
  right: 0;
  left: 0;
}

a.item {
  display: flex;
  align-items: center;
}

.item {
  @include bodyTextSm();
  position: relative;
  z-index: 20;
  min-height: auto;
  background-color: transparent;
  color: rgba($dark, 0.8);
  transition: background-color $speed, color $speed;
  border: 0;
  border-radius: 0;
  text-align: left;
  padding: 2px 8px;
  outline: none;
  display: block;
  &:not(:last-child) {
    margin-bottom: 2px;
  }
  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus,
  &:hover {
    background-color: $gray1;
  }
  &:active {
    background-color: rgba(white, 0.7);
    color: rgba($blue, 0.7);
  }
}

.title {
  @include overline();
  font-size: 11px;
  padding: 2px 8px;
  color: $iconsColor;
}

.active {
  background-color: $gray1;
  &:focus,
  &:hover {
    color: $blue;
  }
  &:active {
    color: rgba($blue, 0.7);
  }
}

.checkbox {
  padding: 8px 8px;
}
