@import '../../../../assets/helpers/mixins';

.wrap {
  position: fixed;
  left: 0;
  top: $header-height;
  bottom: 0;
  width: $sidebar-width;
  background-color: #fff;
  padding-top: 32px;
}

.title {
  @include overline();
  color: $gray3;
  margin-left: 24px;
}

.list {
  margin-top: 24px;
  padding: 0 24px 0px;
  max-height: calc(100vh - 150px);
  overflow: auto;
}

.item {
  @include captionSm();
  min-height: 30px;
  color: $dark;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;
  .size {
    color: $gray3;
    margin-top: 4px;
  }
  &:after {
    position: absolute;
    left: -24px;
    width: 4px;
    top: 0;
    bottom: 0;
    display: inline-block;
    background-color: $blue;
  }
  &:hover,
  &.active {
    opacity: 1;
    &:after {
      content: '';
    }
  }
}
