@import "../../../assets/helpers/mixins";

.wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-left: auto;
  background-color: $gray1;
  overflow-y: scroll;
}

.documentWrap{
  padding-top: calc(52px + (#{$header-height}));
  margin-right: 118px;
  &.hasError{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 0;
  }
}

.page{
  margin-bottom: 12px;
}

.error{
  min-width: 422px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 40px;
  width: 100%;
  margin: auto auto;
  max-width: 856px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: $shadow-big;
  border-bottom: 11px solid $orange;
  outline: none;
  cursor: default;
}

.loader{
  width: calc(100% - (#{$sidebar-width}));
  left: $sidebar-width;
}
